<script type="text/javascript">
  $(document).ready(function(){
    startTime = getCurrentTime();
    window.setTimeout("timeout()", 95000);
  });
</script>


<h1 id="hello">Test</h1>
<img id="image_test" src="http://networktest.herokuapp.com/assets/kats-yellow-flower.jpg" onload="showResults()"/>
<div class="gateway"><%= @gateway.id %></div>
<div class="result"></div>
