<h1 id="hello">Test</h1>
<img id="image_test" src="http://fuajournalism.files.wordpress.com/2010/06/kats-yellow-flower.jpg" onload="showResults()"/>
<div class="gateway"><%= @gateway.id %></div>
<div class="result"></div>