<script type="text/javascript">
  $(document).ready(function(){
    startTime = (new Date()).getTime();
    window.setTimeout("timeout()", 95000);
  });
</script>


<%= form_tag({:action => :test_upload}, :multipart => true, :method => :get) do %>
  <%= file_field_tag 'test_file' %>
  <%=  submit_tag 'submit' %>
<% end %>

<div class="test_up"></div>